#header {
    width: 100%;
    height: 50px;
    background-color: limegreen;
    display: flex;
    justify-content: space-around;
}

#footer {
    width: 100%;
    height: 100px;
    background-color: black;
}

#container{
    padding-top: 50px;
    padding-bottom: 50px;
}
#frm {
    width: 400px;
    margin: auto;
}

#dashboard {
    width: 100%;
    background-color: aqua;
    padding: 20px;
}

#admindata {
    display: flex;
    justify-content: space-between;
}

#adminleftmenu {
    width: 20%;
    background-color: black;
    color: white;
}

#rightdata {
     width: 80%;
    background-color: rgb(208, 44, 44);
    padding: 20px;
}
.adminmenu {
    color: white;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
}
#frmm {
    width: 300px;
}


#userheader{
    width: 100%;
    background-color: lightblue;
    padding: 20px;

}
#userdisplayname{
    padding: 10px;
    border: 1px solid rgb(142, 245, 142);
    background-color: aquamarine;
    text-align: right;
    font-weight: bold;
}

#hh3{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}